name: "Multi event pipeline"

on:
  push: #Event:whenever a push is made to the repository on main branch
    branches:
      - main
      - dev
  pull_request: # Event: whenever a pull request is made to the repository
    branches:
      - main

jobs:
  on-push: # job 1
    # condition : will trigger below job if is true
    if: github.event_name == 'push' 
    runs-on: ubuntu-latest
    steps: # Steps to be executed in the job
      - name: "Running on main/dev push" # Step 1
        run: echo "Running on main/dev push"

  on-pull-request: # job 2
    # condition : will trigger below job if is true
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
        - name: "Runs on pull request"
          run: echo "Pull request added"